.message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .chat
  {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 0 0;
    position: absolute;
    top:60px;
    height: 80vh; 
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
  }
  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
  }

  